body, html {
    height: 300px;
    width: 350px;
    overflow: scroll;
}
body {
  /*padding: 5px 20px;*/
}

.panel-body {
    max-height: 300px;
}

.panel-primary{
    max-height: 600px;
}

.form-group{
	height: 26px;
}

.good-padding{
	padding: 5px 20px;
}

.submit-login{
	margin-left: 165px;
}